@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap'); 


#containes{
    background-color: #17a3b8cb!important;
    border-radius: 20px;
    color : white;
    font-family: 'Montserrat Alternates', sans-serif;
    height:  100px;
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#containes>a{
color: aliceblue;    text-decoration: none;
}
#citas{
    background-color: #17a3b8cb!important;    height: 180px;
    width: 350px;
    margin: auto;
    text-align: center;
    padding: 10px;
    border-radius: 20px;
    
}



h4{
    font-weight: bold;
    font-family: 'Gemunu Libre', sans-serif;


}
a{
    text-decoration: none;
}

h3{


 
    font-family: 'Montserrat Alternates', sans-serif;
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    display: flex;

    border-radius: 20px;
    color:black;
    margin: auto;
    justify-content: center;
    font-family: 'Gemunu Libre', sans-serif;
    font-weight: bold;
    margin-bottom: 10px;

}


#preguntas{
    width: 90%;
    margin: auto;
}