							
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lalezar&display=swap');


#titulo{

    background-color: rgba(12, 248, 170, 0.694) ;
    border-radius: 20px;
    color : white;
    font-family: 'Lalezar', cursive;
    height:  50px;
    align-items: center;
    padding-top: 50px !important;
}

#titulo>h2{
    height: 50px;
    align-items: center;
    text-align: center;    
    padding-top: 5px;
  
}
