#navi>h4{
  font-family: 'Poppins', sans-serif;}
@media (min-width=1000px){
    #navnavbarTogglerDemo03{
      display: flex;
      justify-content: space-around;
      flex-direction: column;
    }
  }